<h2>Add new post</h2>

  <form role="form">

    <textarea name="text" class="form-control" cols="30" rows="6"></textarea>
    <br>
    <button type="submit" class="btn btn-default">Submit</button>

  </form>
